name: Batch Build MacOS Wheels

on:
  workflow_dispatch:
    inputs:
      versions:
        description: 'Comma-seperated version tags of llama-cpp-python to build'
        default: 'v0.1.85,v0.2.0,v0.2.1,v0.2.2,v0.2.3,v0.2.4,v0.2.5,v0.2.6'
        required: true
        type: string

permissions:
  contents: write
  
jobs:
  define_matrix:
    name: Define Workflow Matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    defaults:
      run:
        shell: pwsh
    env:
      PCKGVERS: ${{ inputs.versions }}
        
    steps:
      - uses: actions/checkout@v4
      
      - name: Define Job Output
        id: set-matrix
        run: |
          $x = ConvertTo-Json $env:PCKGVERS.Split(',').Trim() -Compress
          Write-Output ('matrix=' + $x) >> $env:GITHUB_OUTPUT
          
  run_workflows:
    name: Build ${{ matrix.version }} MacOS Metal Wheels
    needs: define_matrix
    strategy:
      matrix:
        version: ${{ fromJSON(needs.define_matrix.outputs.matrix) }}
    uses: ./.github/workflows/build-wheels-macos.yml
    with:
      version: ${{ matrix.version }}
